.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Form styling */
  .login-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Input group styling */
  .input-group {
    margin-bottom: 1rem;

  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #000000;
    text-align: left;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    color: black;
  }
  
  /* Button styling */
  .login-button {
    width: 5rem;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }

  .image-container{
    padding-left: 2rem;
    width: 15rem;
    height: 8rem;
  }
  .image-container img{
    object-fit: contain;
    width: 20rem;
    height:10rem;
    border-radius: 0%;
    max-width: 100%;
    max-height: 100%;
  }